@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  a {
    @apply text-yellow-600;
  }
  a:hover {
    @apply text-yellow-400;
    @apply underline;
  }
  #nav-item-books:hover {
    @apply hover:border-yellow-400 !important;
  }
  .nav-books-selected {
    @apply text-yellow-500;
    @apply md:border-yellow-500;
  }
  .nav-books-unselected {
    @apply text-neutral-900;
    @apply md:border-neutral-900;
  }
}
.anticon .anticon-close .ant-tag-close-icon {
  vertical-align: 0.2ex;
}
.editable-cell {
  position: relative;
}
.editable-cell .editable-cell-input-wrapper,
.editable-cell .editable-cell-text-wrapper {
  padding-right: 24px;
}
.editable-cell .editable-cell-text-wrapper {
  padding: 5px 24px 5px 5px;
}
.editable-cell .editable-cell-icon,
.editable-cell .editable-cell-icon-check {
  position: absolute;
  right: 0;
  width: 20px;
  cursor: pointer;
}
.editable-cell .editable-cell-icon {
  margin-top: 4px;
  display: none;
}
.editable-cell .editable-cell-icon-check {
  line-height: 28px;
}
.editable-cell .editable-cell-icon:hover,
.editable-cell .editable-cell-icon-check:hover {
  color: #108ee9;
}
.editable-cell .editable-add-btn {
  margin-bottom: 8px;
}
.editable-cell:hover .editable-cell-icon {
  display: inline-block;
}
ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
